$fontsizebase: 14px;

$siteheader-height: 2.5rem;

$fontheading: 'Bebas Neue', cursive;
$fontsubheading: 'Oswald', sans-serif;
$fontbody: 'LatoLatinWeb', sans-serif;
$fontornament: 'Slabo 13px', serif;
$fw-bold: 700;
$fw-normal: 400;

$polkadotsize: 5px;



// Colors
$cl-white: #fefefe;
$cl-black: #0a0a0a;

$cl-primary: #1A2534;
$cl-primary-light: #3C5575;
$cl-text: #F1E9D9;
$cl-secondary: #FF5722;
$cl-secondary-2: #BB4019;
$cl-tertiary: #BFD4DF;
$cl-accent: #374045;
$cl-gray: #706D6D;
$cl-gray-dark: $cl-accent;
$cl-gray-light: #c4c4c4;
$cl-gray-xlight: #efefef;



// Layout / Grid
$layout-col-count: 12;
$layout-col-width: 72px;
$layout-gutter-width: 20px;
$layout-content: ($layout-col-count * $layout-col-width) + (($layout-col-count - 1) * $layout-gutter-width);
$layout-gutter-pct: percentage($layout-gutter-width / $layout-content);

$global-width: $layout-content;



// Breakpoints
$bp-medium: 414px;
$bp-tablet: 768px;
$bp-large: 1024px;
$bp-xlarge: 1280px;
$bp-xxlarge: 1440px;
$bp-xxxlarge: 1920px;
$bp-bigdesktop: 1560px;

