h1,h2,h3 {
    font-family: $fontheading;
    font-weight: $fw-bold;
    line-height: 1.2;
    margin: 0 0 .75rem;
    letter-spacing: 0.02em;
}

h4,h5,h6 {
    font-family: $fontsubheading;
    font-weight: $fw-normal;
    line-height: 1.2;
    margin: 0 0 .75rem;
}

h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.5rem;
}

h4,h5,h6 {
    font-size: 1.25rem;
}

ul,ol {
    margin:0;
    padding:0;
}

p {
    margin:0 0 1em;
}

blockquote {
    // font-style: italic;
    // opacity: .875;
    // font-family: $fontornament;
    font-size: .9375rem;
    margin:0 0 1.5em;
    break-inside: avoid;
    cite {
        font-family: $fontsubheading;
        font-weight: normal;
        margin-top:.333em;
        font-style: normal;
        // font-size:.93.75%;
    }
}

a:not(.button) {
    color: inherit;
    text-decoration: underline;
    text-decoration-color: $cl-secondary-2;
    &:hover, &:focus {
        text-decoration-color: $cl-secondary;
    }
}


hr {
    margin: 1rem auto;
    max-width: rem-calc($layout-content);
    height: 0;
    border: none;
    border-top: 1px solid rgba(#000, 0.05);
    border-bottom: 1px solid rgba(#fff, 0.05);

    &.fulldivider {
        max-width: none;
        // margin: 0 auto;

    }

    &.piheno {
        border: none;
        height: 4rem;
        margin-top:0;
        margin-bottom:0;
        background-image: svg-load('foursbullets.svg', fill=$cl-secondary-2);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: auto 66.666%;
    }
}

.sectitle {
    font-size: 2.125rem;
    line-height: 1;
    margin-bottom: 0;
}

.accentcopy {
    font-size: 1.125rem;

    &.narrow {
        max-width: 50rem;
    }

    ul {
        @include niceul;
    }

    ol {
        @include niceol;
    }
}

.twocolcopy {
    gap: rem-calc($layout-gutter-width*2);

    @include breakpoint($bp-tablet) {
        columns: 2;break-inside: avoid;
    }
}

svg.icon {
    width: 1em;
    height: 1em;
    fill: currentColor;
}

.button {
    font-family: $fontheading;
    font-weight: $fw-normal;
    font-size: 1.125em;
    line-height: 1;
    display: inline-block;
    text-decoration: none; 
    padding:.5em .666em .333em;
    border-radius: .333em;
    letter-spacing: 0.02em;
    background-color: $cl-text;
    color: $cl-accent;
    text-align: center;
    // min-width: 8em;
    &.expanded {
        width:100%;
    }

    .icon {
        margin:0 .125em 0 .875em;
        font-size: .666em;
        transform: scale(2);
        fill: $cl-secondary;
        // display: none;
    }

    &:hover, &:focus {
        background-color: $cl-secondary;
        color: $cl-text; 
        .icon {
            fill: $cl-text;
        }
    }

    &.accent {
        background-color: $cl-accent;
        color: $cl-text;
        &:hover, &:focus {
            background-color: $cl-secondary;
            color: $cl-text; 
        }
    }

    &.primary {
        background-color: $cl-primary-light;
        color: $cl-text;
        &:hover, &:focus {
            background-color: $cl-secondary;
            color: $cl-text; 
        }
    }

    &.secondary {
        background-color: $cl-secondary;
        color: $cl-text;
        .icon {
            fill: $cl-text;
        }
        &:hover, &:focus {
            background-color: $cl-accent;
            color: $cl-text; 
        }
    }

    &.faux {
        background-color: transparent;
        border:1px solid currentColor;
        color: $cl-text;
        .icon {
            fill: currentColor;
        }
        &:hover, &:focus {
            color: #fff; 
        }

        &.accent {
            color: $cl-accent;
            &:hover, &:focus {
                color: #000; 
                background-color: transparent;
            }
        }
    }

    &.large {
        font-size: 1.333rem;
        // padding:.666em .875em .5em;
    }
    &.small {
        font-size: .875rem;
    }
    &.tiny {
        font-size: .75rem;
        padding:.75em .75em .666em;
    }
}


.bodycopy {
    ul:not(.swipegallery):not(.slick-dots):not(.tabalikemenu){
        @include niceul;
    }
    ol {
        @include niceol;
    }

    p {
        margin: 0 0 1em 0;
    }

    a:not(.button) {
        text-decoration: underline;
        text-decoration-color: $cl-secondary;
        text-decoration-style: dotted;
        &:hover, &:focus {
            text-decoration-style: solid;
        }
    }


}