.revealclose {

}

.lettermodal {
    // display: flex;
    @include reveal-modal-base;
    padding:0;
    @include reveal-modal-fullscreen;
    top:0 !important;
  
    position: fixed;
    display: flex;
    color: $cl-text;
    background-color: $cl-primary;
    background-image: url(../img/polka-dots.svg), url(../img/content/oleles.jpg);
    background-size: $polkadotsize, cover;
    background-repeat: repeat, no-repeat;
    background-position: center;
    background-blend-mode: normal, overlay;
}

.lettermodal__inner {
    @extend .pagewrap;
    padding-top: 4rem;
    padding-bottom: 4rem;
    
    max-height: 100%;
    overflow: auto;
    margin-top: auto;
    margin-bottom: auto;

    @include breakpoint($bp-large) {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

}

.lettermodal__close {
    position: absolute;
    z-index: 1;
    right:3%;
    top:3%;
    font-size: 2rem;
    color: inherit;
    // fill: currentColor;
    &:hover, &:focus {
        color: $cl-secondary;
    }
}