.siteheader {
    @extend .pagewrap;
    overflow: visible;
    position: absolute;
    z-index: 1000;
    width: 100%;;
    padding-top: 0;
    padding-bottom: 0;
    color: $cl-text;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: rem_calc($layout-gutter-width);
    @include breakpoint($bp-tablet) {
        padding-top: calc(.5rem + .25vw);
        padding-bottom: calc(.5rem + .25vw);
        
    }
    @include breakpoint($bp-large) {
        padding-left: 7.5%;
        padding-right: 7.5%;
    }
    &:after {
        content: '';
        display: block;
        position: absolute;
        z-index: -1;
        left:0;
        top:0;
        width: 100%;
        height:150%;
        background-image: linear-gradient(to bottom, rgba(#000, .5) 1rem, transparent 100%);
    }
}



.siteheader__logo {

    display: block;
    width: #{2.78rem * 1};
    height: #{2.64rem * 1};
    margin:.5rem 0;
    @include breakpoint($bp-tablet) {
        width: #{2.78rem * 1.25};
        height: #{2.64rem * 1.25};
    }

    svg {
        width:100%;
        height:100%;
        // fill: $cl-primary-light;
    }

}

.siteheader__nav {

    font-family: $fontheading;
    font-weight: $fw-bold;
    font-size: 1.125rem;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    @include breakpoint($bp-medium) {
        font-size: 1.333rem;
    }
    ul {
        display: flex;
        list-style: none;
        margin:0;
        padding: 0;

        ul {
            display: block;
            opacity: 0;
            visibility: hidden;
            position: absolute;
            margin-left: .5em;
            min-width: 8em;
            background-color: $cl-tertiary;
            flex-direction: column;
            padding: .5em 0;
            transition: opacity .4s ease-in;
            box-shadow: 0 0 .5em 0 rgba(#000,.5);
            &:hover {
                visibility: visible;
                opacity: 1; 
            }
            &:before {
                position: absolute;
                // z-index: -1;
                transform: rotate(-45deg);
                transform-origin: left top;
                top:0;
                left:.5em;
                content: '';
                display: block;
                width: .5em;
                height: .5em;
                background-color: inherit;
                box-shadow: 0 -.5em .25em 0 rgba(#000,.5);
            }
        }
    }
    li {
        a {
            display: block;
            padding:.25em .5em;
            text-decoration: none;
            &.dropdown {
                padding-right: .125em;
                &:after {
                    margin-left: .2em;
                    content: '';
                    display: inline-block;
                    width: .5em;
                    height: .666em;
                    background-image: svg-load('dropdown.svg', fill=$cl-text);
                    background-repeat: no-repeat;
                    background-position: center;
                    // background-color: red;
                }
            }
            &:hover, &:focus {
                color: $cl-secondary;
                &.dropdown:after {
                    background-image: svg-load('dropdown.svg', fill=$cl-secondary);
                }

                + ul {
                    // display: block;
                    visibility: visible;
                    opacity: 1;
                }
            }
            
        }

        li {
            font-size: .875em;
            a {
                padding:.125em .5em;
                color: $cl-secondary;
                &:hover, &:focus {
                    color: $cl-primary;
                }
            }
        }
        
    }


}

