<div class="lettermodal" id="letter-olivia-modal" data-reveal data-animation-in="fade-in fast" data-animation-out="fade-out fast">
    <div class="lettermodal__inner">
        <div class="narrowwrap accentcopy">
            <h3 class="narrowwrap__floatingtitle">Olívia beszámolója</h3>
            <p>Amikor tisztában vagy vele, hogy nemsokára át kell sétálnod a poklon, az idő száguldani kezd. Biztos voltam benne, hogy nemsokára megérkezik A LEVÉL, ami elszakítja tőlünk a gyermekeim apját, a másik felemet. Féltem a saját postaládánktól, minden alkalommal, amikor kinyitottam. Vajon benne lesz ma? Vagy marad még egy kis időnk együtt? Nem váratott magára túl sokat... A gyerekeket elvittem az oviba, és mivel volt egy fontos időpontom, előtte hazaugrottam. Értesítést dobtak be, rohantam a postára. Feltéptem a levelet, ahogy kiléptem az ajtón. Az első, amin megakadt a szemem, hogy van még 4 teljes hét, a másik pedig az Intézmény neve. Sokkot kaptam, az egyetlen hely, amitől rettegtem. Remegve felszálltam a (rossz) buszra és elindultam valahova...</p>
            <p>A következő hetekben megpróbáltunk némi információhoz jutni, de falakba ütköztünk. Első körben természetesen felhívtam az adott Intézményt. Úgy kezeltek, mintha egy atombombát dobtam volna le. Szörnyen megalázó volt. Igyekeztem a megütött stílus ellenére kulturált maradni, tájékozódni, de egy morzsányi információnál többet nem kaptam.
            Gyakorlatilag vakon vittem a férjemet egy olyan helyre, ahol várhatóan 38 hónapot fog tölteni.</p>
            <p>Aznap reggel felöltöztette a kicsiket, elmondta nekik, hogy mennyire szereti őket, én pedig végignéztem, ahogy megpuszilják, megölelik egymást, mit sem sejtve arról, hogy mennyi időt kell majd nélküle tölteniük. Sosem fogom elfelejteni, rettenetes volt. Akkor voltak 2 illetve 3 évesek.</p>
            <p>Elvittük őt autóval, bőven idő előtt értünk oda. És besétált... Azon gondolkoztam hazafelé, hogy hogyan voltam képes őt itthagyni, ezen a helyen? Persze ennek semmi értelme, mégis ezt éreztem.</p>
            <p>Pár nap telt el, semmi hírem nem volt róla. Hétvégén otthon voltunk, a lányom a kanapén feküdt. Hallottam, hogy valamit motyog, de nem értettem, így odaültem mellé. "Apa, csoki. Apa, csoki" suttogta halkan. Legszívesebben zokogtam volna, de összeszedtem magam, és adtam neki. Apa volt, akitől mindig kaphatott egy kis csokit, akár ebéd előtt is. A kisfiunk még nem beszélt akkor, de folyamatosan kereste. Végigjárta a szobákat, mindenhova benézett reggel. De nem találta...</p>
            <p><em>Olívia</em></p>
        </div>
    </div>
    <button class="lettermodal__close" data-close aria-label="Felugró bezárása" type="button">
        <span aria-hidden="true"><svg class="icon"><use xlink:href="#icon-close"></use></svg></span>
    </button>
</div>
<div class="lettermodal" id="letter-leila-modal" data-reveal data-animation-in="fade-in fast" data-animation-out="fade-out fast">
    <div class="lettermodal__inner">
        <div class="narrowwrap accentcopy">
            <h3 class="narrowwrap__floatingtitle">Leila vagyok, 21 éves.</h3>
            <p>Édesapám a 8. évét kezdte meg bent. Bizonyíték hiányában kapott 14 évet. Kedvezménnyel 2024-ben szabadulhat.</p>
            <p>Hogy mi is történt, ennyi idő alatt?</p>
            <p>Elballagtam az általános, és a szakiskolából is. Átéltem szerelmet, csalódást. És megszületett a kisfiam is. Ezt mind az édesapám nélkül kellett átélnem. Nem volt mellettem, hogy támaszt és vígaszt nyújtson. Nem tudtam csak úgy felhívni, hogy "baj van, segíts". Nem tudtam megosztani vele az örömhíreket. Amikor élet halál közt voltam, és küzdöttek értem az orvosok, nem tudta senki felhívni, hogy mi is történik velem. És ami a legfájóbb: amikor a kisfiam 3 éves lesz, majd csak akkor fogja tudni a nagypapája először megölelni életében.. Nem láthatta az első lépéseit, nem hallhatta az első szavait. Nem volt itt az első születésnapján.. Csak a "virtuális világból" ismer egy bácsit, aki mindig kézzel lábbal integet neki skypeon, de hát ki ő, azt nem tudja.</p>
            <p>Édesapám minden egyes alkalommal sír. Sír miattam, hogy nem tud mellettem lenni, és segíteni. Sír, mert az első (és egyetlen) unokájával nem tud játszani.</p>
            <p>Borzasztó érzés, hogy így kellett felnőnöm. Van apám, de mégsincs.. Hogyan lehet visszahozni ennyi évet?! Bepótolni sem lehet.. Csak számoljuk a napokat, amikor végre, együtt lehet a család. Az a család, ami soha nem is volt igazán egy. Mert valaki hiányzott belőle mindig is. Az édesapám!</p>
            <p><em>Leila</em></p>
        </div>
    </div>
    <button class="lettermodal__close" data-close aria-label="Felugró bezárása" type="button">
        <span aria-hidden="true"><svg class="icon"><use xlink:href="#icon-close"></use></svg></span>
    </button>
</div>
