<div class="lettermodal" id="letter-olivia-modal" data-reveal data-animation-in="fade-in fast" data-animation-out="fade-out fast">
    <div class="lettermodal__inner">
        <div class="narrowwrap accentcopy">
            <h3 class="narrowwrap__floatingtitle">Olívia beszámolója</h3>
            <p>Amikor tisztában vagy vele, hogy nemsokára át kell sétálnod a poklon, az idő száguldani kezd. Biztos voltam benne, hogy nemsokára megérkezik A LEVÉL, ami elszakítja tőlünk a gyermekeim apját, a másik felemet. Féltem a saját postaládánktól, minden alkalommal, amikor kinyitottam. Vajon benne lesz ma? Vagy marad még egy kis időnk együtt? Nem váratott magára túl sokat... A gyerekeket elvittem az oviba, és mivel volt egy fontos időpontom, előtte hazaugrottam. Értesítést dobtak be, rohantam a postára. Feltéptem a levelet, ahogy kiléptem az ajtón. Az első, amin megakadt a szemem, hogy van még 4 teljes hét, a másik pedig az Intézmény neve. Sokkot kaptam, az egyetlen hely, amitől rettegtem. Remegve felszálltam a (rossz) buszra és elindultam valahova...</p>
            <p>A következő hetekben megpróbáltunk némi információhoz jutni, de falakba ütköztünk. Első körben természetesen felhívtam az adott Intézményt. Úgy kezeltek, mintha egy atombombát dobtam volna le. Szörnyen megalázó volt. Igyekeztem a megütött stílus ellenére kulturált maradni, tájékozódni, de egy morzsányi információnál többet nem kaptam.
            Gyakorlatilag vakon vittem a férjemet egy olyan helyre, ahol várhatóan 38 hónapot fog tölteni.</p>
            <p>Aznap reggel felöltöztette a kicsiket, elmondta nekik, hogy mennyire szereti őket, én pedig végignéztem, ahogy megpuszilják, megölelik egymást, mit sem sejtve arról, hogy mennyi időt kell majd nélküle tölteniük. Sosem fogom elfelejteni, rettenetes volt. Akkor voltak 2 illetve 3 évesek.</p>
            <p>Elvittük őt autóval, bőven idő előtt értünk oda. És besétált... Azon gondolkoztam hazafelé, hogy hogyan voltam képes őt itthagyni, ezen a helyen? Persze ennek semmi értelme, mégis ezt éreztem.</p>
            <p>Pár nap telt el, semmi hírem nem volt róla. Hétvégén otthon voltunk, a lányom a kanapén feküdt. Hallottam, hogy valamit motyog, de nem értettem, így odaültem mellé. "Apa, csoki. Apa, csoki" suttogta halkan. Legszívesebben zokogtam volna, de összeszedtem magam, és adtam neki. Apa volt, akitől mindig kaphatott egy kis csokit, akár ebéd előtt is. A kisfiunk még nem beszélt akkor, de folyamatosan kereste. Végigjárta a szobákat, mindenhova benézett reggel. De nem találta...</p>
            <p><em>Olívia</em></p>
        </div>
    </div>
    <button class="lettermodal__close" data-close aria-label="Felugró bezárása" type="button">
        <span aria-hidden="true"><svg class="icon"><use xlink:href="#icon-close"></use></svg></span>
    </button>
</div>
<div class="lettermodal" id="letter-leila-modal" data-reveal data-animation-in="fade-in fast" data-animation-out="fade-out fast">
    <div class="lettermodal__inner">
        <div class="narrowwrap accentcopy">
            <h3 class="narrowwrap__floatingtitle">Leila vagyok, 21 éves.</h3>
            <p>Édesapám a 8. évét kezdte meg bent. Bizonyíték hiányában kapott 14 évet. Kedvezménnyel 2024-ben szabadulhat.</p>
            <p>Hogy mi is történt, ennyi idő alatt?</p>
            <p>Elballagtam az általános, és a szakiskolából is. Átéltem szerelmet, csalódást. És megszületett a kisfiam is. Ezt mind az édesapám nélkül kellett átélnem. Nem volt mellettem, hogy támaszt és vígaszt nyújtson. Nem tudtam csak úgy felhívni, hogy "baj van, segíts". Nem tudtam megosztani vele az örömhíreket. Amikor élet halál közt voltam, és küzdöttek értem az orvosok, nem tudta senki felhívni, hogy mi is történik velem. És ami a legfájóbb: amikor a kisfiam 3 éves lesz, majd csak akkor fogja tudni a nagypapája először megölelni életében.. Nem láthatta az első lépéseit, nem hallhatta az első szavait. Nem volt itt az első születésnapján.. Csak a "virtuális világból" ismer egy bácsit, aki mindig kézzel lábbal integet neki skypeon, de hát ki ő, azt nem tudja.</p>
            <p>Édesapám minden egyes alkalommal sír. Sír miattam, hogy nem tud mellettem lenni, és segíteni. Sír, mert az első (és egyetlen) unokájával nem tud játszani.</p>
            <p>Borzasztó érzés, hogy így kellett felnőnöm. Van apám, de mégsincs.. Hogyan lehet visszahozni ennyi évet?! Bepótolni sem lehet.. Csak számoljuk a napokat, amikor végre, együtt lehet a család. Az a család, ami soha nem is volt igazán egy. Mert valaki hiányzott belőle mindig is. Az édesapám!</p>
            <p><em>Leila</em></p>
        </div>
    </div>
    <button class="lettermodal__close" data-close aria-label="Felugró bezárása" type="button">
        <span aria-hidden="true"><svg class="icon"><use xlink:href="#icon-close"></use></svg></span>
    </button>
</div>
<div class="lettermodal" id="letter-alexandra-modal" data-reveal data-animation-in="fade-in fast" data-animation-out="fade-out fast">
    <div class="lettermodal__inner">
        <div class="narrowwrap accentcopy">
            <h3 class="narrowwrap__floatingtitle">Alexandra története</h3>
            <p>2020.szeptember 1-én bementem a gyámügyhöz, hogy ha tudnak biztosítsanak nekem és a kisfiamnak helyet. Az albérlet amiben eddig éltünk már nem aktuális, mivel a tulaj nem engedi, hogy ott maradjunk… Félt, hogy egyedül nem fogom tudni fizetni 37.700 Ft a jövedelmem az albérlet meg 30.000 volt havonta.</p>
            <p>A családsegítőben azt tanácsolták menjek be a bíróságra, mert minden héten egyszer van meghallgatás nap. Próbáltam egy kis időt kérni a bevonulásra. Sajnos elutasították és azon a napon kaptam rá választ, mikor bevonult a férjem, azaz 2020.szept.04-én már ő bent volt.</p>
            <p>A férjem úgy vonult be, hogy közölte az anyjával, ha nem engedi, hogy oda költözzek a gyerekkel, akkor öngyilkos lesz bent. Ìgy az anyja megengedte, hogy oda menjek. Náluk éltem szeptember végétől, de a helyzet elviselhetetlen volt, nem jöttem ki anyósommal.</p>
            <p>Majd édesapámék belementek, hogy vesznek fel nekem hitelt és vesznek egy házat, aminek a törlesztője 46.200 Ft. Belementem a hülyeségbe. Azt mondták vigyáznak a gyerekemre, hogy tudjak járni plazmát adni, mert ameddig anyósomnál laktam heti kétszer jártam, hogy tudjam támogatni a férjem bent.</p>
            <p>Beköltöztünk az új házba, a mostohaanyám és az édesapám előadta, hogy majd itt beveszik a kisfiam a bölcsibe és munkám is biztosan lesz. A kisfiam tényleg bevették a bölcsibe de 2 napot ment aztán 2 hetet itthon volt betegen. Ez ment hónapokon keresztül. Ìgy eltanácsolták, mondván ne foglaljam a helyet olyan gyerekek elől akinek a szülei rendesen hordanák a gyereküket.</p>
            <p>Munkám azóta sincs. Édesanyám 2 hetente bevásáról nekünk és ő segített fával is mert kályhával tudok csak fűteni. Minden nap szélbe, fagyba, esőbe kint fűrészeltem a fát a gyerekemmel együtt, mert senki nem jött segíteni! Mindent én intézek a férjemnek, és mindent megpróbáltunk már, hátha hamarabb kijöhet, de ez csak egy álom volt. 1.5 éve bent van, minden nap egy küzdelem számomra és még van 1 év hátra.</p>
            <p>Próbáltam sim kártyák árusítását, amiből volt egy kis pénzem, (bocsánat) de buta analfabéta romákkal kellett beszélnem napi szinten, akik minden egyes nap megfenyegettek ha nem érkezik meg a sim kártya akkor kinyírnak. Persze minden alkalommal megkapták, de lelkileg nem bírtam tovább, és az igazat megvallva elég simlis számomra is a cég, akiknek dolgoztam.</p>
            <p>A férjem 2 munkahelyen dolgozott amìg kint volt, hogy ne kelljen nélkülöznünk a gyerekkel. Biztonsági őrként dolgozott 24/48-ba, és mikor letette ott a munkát ment kubikolni, mert burkoló végzettsége is van. 24 órás műszak után haza sem jött, ment a másik munkába, este haza reggel vissza, aztán vissza 24-be ismét! De sosem nélkülöztünk!!!! Este haza jött, amíg elkészítettem a vacsorát játszott a fiával, aztán elkészítette neki a fürdővizét minden este… tisztába tette, altatta… Tökéletes apa volt és férj!!!! Rettegek attól, hogy a börtön rossz hatással lesz rá!!!! És eszméletlen kilátástalan lett az életem a gyerekkel!</p>


            <p><em>Alexandra</em></p>
        </div>
    </div>
    <button class="lettermodal__close" data-close aria-label="Felugró bezárása" type="button">
        <span aria-hidden="true"><svg class="icon"><use xlink:href="#icon-close"></use></svg></span>
    </button>
</div>
<div class="lettermodal" id="letter-zsuzsanna-modal" data-reveal data-animation-in="fade-in fast" data-animation-out="fade-out fast">
    <div class="lettermodal__inner">
        <div class="narrowwrap accentcopy">
            <h3 class="narrowwrap__floatingtitle">Zsuzsanna története</h3>
            <p>Jelenleg én is egy egyedülálló anyuka vagyok, mivel a férjem is bent van a Tiszalöki Országos Büntetés-végrehajtási Intézetben. Egy 11 éves kislányt nevelek egyedül. Mikor a férjem bevonult, én is egyedül maradtam egy albérletben egy halom tartozással, ugye kiszámlázták a perköltséget, ami kicsivel több mint félmillió forint volt. Hiába kértük meg, hogy engedjék el legalább a kiskorú gyermekre való tekintettel, sajnos ez nem történt meg így minden hónapban fizetem 30 ezrével a csekket.</p>
            <p>Nekem sincs sajnos segítségem, mert a szüleim anyagi helyzete nem engedi ezt meg, hogy engem is támogassanak. A férjemnek vannak gyermekei, akik már felnőttek, de mikor bekerült a börtönbe, mindenki hátat fordított neki. Iszonyatosan nehéz volt a kezdeti időszak, már most valamivel könnyebb, bár őt is finanszírozni, hogy legalább hívni tudjon minket nem egyszerű, de sajnos nem tehetem meg azt, hogy nem küldök neki pénzt, mert a 11 éves kislánya azt már nem tudná elviselni, ha nem beszélhetne vele.</p>
            <p>A benti nehézségekkel megküzdve, hogy nap mint nap megalázzák, még értünk is aggódnia kell. Sajnos ez a láthatás is annyira le van még mindig korlátozva, hogy a gyermeknek már nem tudok mit mondani, hogy mikor mehet az apukájához vagy ha mehet is, mikor ölelheti meg, ami nagyon fontos lenne mindhármunk számára. Másfél éve nem láttuk, csak skypon, ami nyilván jobb, mint a semmi, de ettől függetlenül még nagyon nehéz így is. Egy szülőnek, főleg így, hogy ha ilyen okból kifolyólag is, nagyon sokat kell ilyenkor nélkülöznie, azért hogy a gyermekének meg tudjon adni mindent, és ugyanúgy a párjának is. </p>
            <p>A téli időszak nagyon nehéz, ilyenkor hazajönni a 12 órás műszakból, begyújtani stb. Nyáron meg ott van a kerti munka, mikor füvet kell vágni, na és persze a ház körüli munkák, és persze a benti, és ez megy a végkimerülésig, de tudod, hogy nem adhatod fel. Sajnos az Intézmények hozzáállása sem könnyíti meg a helyzetet, hogy minden áron igyekeznek távol tartani a szeretteinktől.</p>
            <p><em>Minden tiszteletem az Önöké, hogy igyekeznek segíteni a bent lévőket és azok hozzátartozóit is.</em></p>


            <p><em>Zsuzsanna</em></p>
        </div>
    </div>
    <button class="lettermodal__close" data-close aria-label="Felugró bezárása" type="button">
        <span aria-hidden="true"><svg class="icon"><use xlink:href="#icon-close"></use></svg></span>
    </button>
</div>
