<header class="siteheader" >
    <div class="siteheader__logo">
        <a href="https://fogvatartas.hu/"><svg class="icon"><use xlink:href="#icon-fecskelogo-text"></use></svg></a>
    </div>
    <nav class="siteheader__nav">
        <ul class="mainmenu" data-magellan>
            <li><a href="{{root}}/">Távol a család</a></li>
            <li>
                <a href="{{root}}/#stories" class="dropdown">Történetek</a>
                <ul>
                    <li><a href="{{root}}/story.html">Lorem Irén</a></li>
                    <li><a href="{{root}}/story2.html">Ipsum Ágnes</a></li>
                    <li><a href="{{root}}/story.html">Dolor Sit Péter</a></li>
                </ul>
            </li>
            <li><a href="{{root}}/#aboutus">Rólunk</a></li>            
        </ul>
    </nav>
</header>