<header class="siteheader">
    <div class="siteheader__logo">
        <a href="#"><img src="{{root}}assets/img/fecskelogomain.svg" alt="Fecske"></a>
    </div>
    <nav class="siteheader__nav">
        <ul class="mainmenu">
            <li><a href="#">Rólunk</a></li>
            <li>
                <a href="#">Történetek</a>
                <ul>
                    <li><a href="#">Lorem Irén</a></li>
                    <li><a href="#">Ipsum Béla</a></li>
                    <li><a href="#">Dolor Sit Péter</a></li>
                </ul>
            </li>
            <li><a href="#">Lorem ipsum</a></li>
        </ul>
    </nav>
</header>