<div class="pagewrap">
    <div class="narrowwrap">
        <h4>Ismerd meg a többiek történetét is!</h4>
        <br>
        <ul class="tcardgrid">
            {{#unlesspage 'luca' }}
            <li>
                <div class="tcard accent">
                    <h3 class="tcard__title"><a href="{{roots}}luca/">Luca története</a></h3>
                </div>
            </li>
            {{/unlesspage}}
            {{#unlesspage 'tunde' }}
            <li>
                <div class="tcard secondary">
                    <h3 class="tcard__title"><a href="{{roots}}tunde/">Tünde története</a></h3>
                </div>
            </li>
            {{/unlesspage}}
            {{#unlesspage 'etelka' }}
            <li>
                <div class="tcard opaque">
                    <h3 class="tcard__title"><a href="{{roots}}etelka/">Etelka története</a></h3>
                </div>
            </li>
            {{/unlesspage}}
            {{#unlesspage 'andrea' }}
            <li>
                <div class="tcard">
                    <h3 class="tcard__title"><a href="{{roots}}andrea/">Andrea története</a></h3>
                </div>
            </li>
            {{/unlesspage}}
        </ul>
    </div>
</div>