<div class="pagewrap">
    <div class="narrowwrap">
        <h4>Ismerd meg a többiek történetét is!</h4>
        <br>
        <ul class="tcardgrid">
            <li>
                <div class="tcard">
                    <h3 class="tcard__title"><a href="{{roots}}/andrea.html">Andrea története</a></h3>
                </div>
            </li>
            <li>
                <div class="tcard secondary">
                    <h3 class="tcard__title"><a href="{{roots}}/tunde.html">Tünde története</a></h3>
                </div>
            </li>
            <li>
                <div class="tcard accent">
                    <h3 class="tcard__title"><a href="{{roots}}/luca.html">Luca története</a></h3>
                </div>
            </li>
            <li>
                <div class="tcard opaque">
                    <h3 class="tcard__title"><a href="{{roots}}/etelka.html">Etelka története</a></h3>
                </div>
            </li>
        </ul>
    </div>
</div>